:root {
    --background-color: #f9f4ed;
    --backgroung-color-secondary: #282c34;
    --font-color-primary: #474444;
    --font-color-secondary: #f05a5b;
    --card-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}