.find-result {
    background-color: var(--background-color);
    min-height: 100vh;

    &__content {
        padding: 20px;
        margin-top: 15px;
    }

    &__back-btn {
        color: var(--font-color-secondary);
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        text-decoration: none;
        padding: 10px 0;
        display: flex;
        width: fit-content;

        &:hover {
            text-decoration: underline;
        }
    }

    &__cards {
        margin-top: 20px;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media only screen and (min-width: 1280px) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}