.footer {
    min-width: 100%;
    background-color: var(--backgroung-color-secondary);
    min-height: 25px;
    color: #d4d4d4;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--fixed {
        position: absolute;
        bottom: 0;
    }
}